

.menu {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 25vw;
    height: 90vh;
    box-shadow: 0px 6px 8px 0px rgba(0, 0, 0, 0.3);
    border-top: 1px solid rgba(0, 0, 0, 0.05);
  }

  .vetical__menu {
      all: unset;
      width: 60px;
      height: 100%;
      box-shadow: 0px 6px 8px 0px rgba(0, 0, 0, 0.3);
      background: rgb(0, 140, 255);
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-direction: column;
  }

  .menu__content{
      width: calc(100% - 60px);
      height: 100%;
  }

  .menu__btn {
      display: block;
      box-sizing: border-box;
      padding: 2px;
      height: 60px;
      width: 100%;
      border: 2px solid rgb(255, 255, 255);
      /* border-bottom: 2px solid rgb(255, 255, 255); */
      cursor: pointer;
      transition: 0.2s ease-in-out;
      margin-bottom: 10px;
  }

  .menu__btn:hover{
      border-color: rgb(43, 152, 241);
  }

  .active__menu{
    border-color: rgb(43, 152, 241);
  }