

.content {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 74vw;
    height: 90vh;
    border: 1px solid rgba(0, 0, 0, 0.1);
    /* box-shadow: 0px 6px 8px 0px rgba(0, 0, 0, 0.1); */
  }
  .tools {
      width: 98%;
      height: 4vh;
      /* box-shadow: 0px -2px 4px 0 rgba(0, 0, 0, 0.1);  */
      border: 1px solid rgba(0, 0, 0, 0.05);
      border-radius: 3px;
  }

  .ck-editor{
    width: 98% !important;
    height: 82vh !important;
    background: white !important;
    box-sizing: border-box !important;
    font-size: 12px !important;
    letter-spacing: 1px !important;
  }

  .ck-editor__main, .ck-editor__editable{
      height: 78vh !important;
  }

  @media only screen and (max-width:768px){
    .content{
        width: 100%;
      }
      .ck-editor__main, .ck-editor__editable{
        height:91% !important;
    }
  }